.blogimg {
  height: 400px;
  width: 85%;
  object-fit: cover;
}
.topButton {
  position: relative;
  top: -170px;
  right: 100px;
  border-radius: 45px;
  font-size: 12px;
}
.blogContent {
  background-color: #fff;
  width: 35%;
  text-align: center;
  position: absolute;
  bottom: -880px;
  left: 320px;
}

.blogContent > p {
  color: gray;
}

.blogContent > h6 {
  color: gray;
  margin: 2px 30px;
}
.blogContent > em {
  font-size: 35px;
  padding-top: 40px;
}
.blogButton {
  display: flex;
  margin-top: 200px;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 40px;
  border: 1px solid gray;
  border-left: hidden;
  border-right: hidden;
}
.blogButton > button {
  border-radius: 25px;
  padding: 2px 25px;
}
.blogButton > h6 {
  margin: auto 20px auto 0px;
}

.postsButton {
  position: relative;
  top: -290px;
  right: -225px;
  border-radius: 25px;
  padding: 5px 20px;
  font-size: 10px;
}
.blogsContent {
  background-color: #fff;
  width: 90%;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 30px;
}
.blogsContent > p {
  color: gray;
  margin: 5px 0;
  font-size: 10px;
}
.blogsContent > h2 {
  font-size: 20px;
}

.blogsContent > h6 {
  color: gray;
  margin: 5px 10px;
  font-size: 14px;
}
.blogsContent > em {
  font-size: 25px;
  padding-top: 40px;
}
.moreButton {
  border-radius: 100%;
  font-size: 8px;
  text-align: center;
  border: none;
}
.moreButton:focus {
  outline: none;
  border: none;
}

.blogpostimg {
  width: 320px;
  height: 300px;
  object-fit: cover;
}

.bigButton {
  width: 120px;
  margin: auto auto 30px auto;
  border-radius: 25px;
  outline: none;
  background: transparent;
  color: #000;
  border: 0.5px lightsteelblue gray;

  &:hover {
    background: gray;
    outline: none;
    border: none;
  }
}

@media screen and (min-width: 150px) and (max-width: 600px) {
  .blogimg {
    height: 250px;
    width: 120%;
    object-fit: cover;
    // margin: 0 -3px 0 2px;
  }
  .topButton {
    position: relative;
    top: -110px;
    right: 60px;
    border-radius: 45px;
    font-size: 6px;
  }
  .blogContent {
    background-color: #fff;
    width: 75%;
    height: 200px;
    text-align: center;
    position: absolute;
    bottom: -1140px;
    left: 50px;
  }
  .blogContent > p {
    font-size: 12px;
  }
  .blogContent > h2 {
    font-size: 20px;
  }

  .blogContent > h6 {
    font-size: 14px;
    margin: 0px 5px;
  }
  .blogContent > em {
    font-size: 14px;
    padding-top: 40px;
  }

  .blogButton {
    margin-top: 170px;

    width: 100%;
    height: 40px;
  }

  .blogButton > h6 {
    display: flex;
  }
}
