@import "../../node_modules/bootstrap/scss/bootstrap.scss";



// variables

@import 'jessie-ui/variables';


//components
@import "jessie-ui/navbar";
@import "jessie-ui/welcome";
@import "jessie-ui/blog";
@import "jessie-ui/sidebar";
@import "jessie-ui/hero";
@import 'jessie-ui/footer';



.App{
    overflow-x: hidden; 
}

.blogHeader {
    margin-bottom: 20px 10px;
    color:$text-color;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;

    &:hover{
        cursor: pointer;
      color: $text-color;
    }
    
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background: chocolate;
    color: #fff;
}